@font-face {
    font-family: "HYQiHei-55S";
    src: url("HYQiHei-55S.eot"); /* IE9 */
    src: url("HYQiHei-55S.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("HYQiHei-55S.woff") format("woff"), /* chrome, firefox */
    url("HYQiHei-55S.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("HYQiHei-55S.svg#HYQiHei-55S") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


